@use '@/assets/styles/utilities/mixins' as *;
@use '@/assets/styles/utilities/functions' as *;
@use '@/assets/styles/utilities/variables' as *;

@mixin block-style {
  @include elm-fill;
  @include border-radius-outer;
  @include shadowed;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  min-height: 5.5rem;
  padding: s(4);
}

@mixin block-style-raw {
  @include elm-fill;
  @include border-radius-outer;
  @include shadowed;
}
