@use '@/assets/styles/main' as *;

.server-error {
  @include elm-fill;
  @include rounded;
  @include shadowed;
  padding: s(6);

  &.raw {
    padding: 0;
    background: none;
    border: none;
  }

  .header {
    margin-bottom: s(3);
  }

  .info {
    color: $base-gray;

    .email-address {
      color: $eodiro-primary-color;
    }
  }
}
