// line-height
.line-height-1 {
  line-height: 1;
}
.line-height-1_2 {
  line-height: 1.2;
}
.line-height-1_4 {
  line-height: 1.4;
}
.line-height-2 {
  line-height: 2;
}

// text-align
.text-align-left {
  text-align: left;
}
.text-align-center {
  text-align: center;
}
.text-align-right {
  text-align: right;
}

// font-weight
.font-weight-thin {
  font-weight: 200;
}
.font-weight-light {
  font-weight: 300;
}
.font-weight-regular {
  font-weight: 400;
}
.font-weight-medium {
  font-weight: 500;
}
.font-weight-semibold {
  font-weight: 600;
}
.font-weight-bold {
  font-weight: 700;
}
