@use '@/assets/styles/main' as *;

.eodiro-post-view {
  max-width: 800px !important;
  padding-top: $nav-height + 1.5rem !important;

  .to-list {
    padding: 0.5rem 0;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 1.5rem;
    display: inline-block;
    color: $eodiro-primary-color;
    @include clickable;
  }

  .post {
    @include block-style-raw;

    padding: 15px;

    .info {
      line-height: 2;
    }

    .author {
      display: inline-block;
      font-size: 1rem;
      font-weight: 600;
      margin-right: 1rem;
    }

    .time {
      display: inline-block;
      color: $base-gray;
      font-size: 0.9rem;
      margin-right: 1rem;
    }

    .actions {
      white-space: nowrap;

      .edit {
        margin-right: 0.5rem;
        color: $base-gray;
      }

      .delete {
        color: $eodiro-primary-color;
        font-weight: 500;
      }
    }

    .title {
      margin-top: 20px;
      margin-bottom: 12px;

      span {
        font-size: 2rem;
        letter-spacing: -0.03em;
        font-weight: 700;
      }
    }

    p {
      font-size: 1.1rem;
      line-height: 1.4;

      & + p {
        margin-top: 0.5rem;
      }
    }
  }
}
