@use '@/assets/styles/main' as *;

.eodiro-square-main {
  .board {
    .board-name {
      font-size: 1.7rem;
      font-weight: 700;
      @include clickable;
      @include separator('bottom');
      padding-bottom: 1rem;
      margin-bottom: 0.7rem;
      margin-top: 0.3rem;
    }

    .post-item {
      padding: 0.3rem 0;
      min-height: 2.2rem;

      &:last-child {
        margin-bottom: 0;
      }

      .title {
        font-size: 1rem;
        transition: color 100ms ease;
      }

      &:hover {
        .title {
          color: $eodiro-primary-color;
        }
      }

      .comments-count {
        color: $eodiro-primary-color;
        @include bg;
        @include border-radius-inner;
        padding: 0.3rem;
        margin-left: 0.7rem;
        font-size: 0.8rem;
        font-weight: 500;
        min-width: 1.5rem;
        text-align: center;
      }
    }
  }
}
