@import '~/assets/styles/scss/main';
@import '~/assets/styles/scss/global/typography';
@import '~/assets/styles/scss/global/simplebar-custom';
@import '~/assets/styles/scss/global/transition';
@import '~/assets/styles/scss/global/input';
@import '~/assets/styles/scss/global/select';
@import '~assets/styles/scss/utilities/htmlcss';

// UI6
@import '~assets/styles/scss/utilities/ui6';

// ::-webkit-scrollbar {
//   display: none; /* chrome */
// }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  font-size: 85%;
  overflow: auto;
  -ms-overflow-style: none; /* Edge */
  scrollbar-width: none; /* Firefox */

  &.dark-mode {
    .mode--light {
      display: none !important;
    }

    [data-color-scheme='light'] {
      display: none !important;
    }
  }
  @media (prefers-color-scheme: dark) {
    &.auto-color-scheme {
      background-color: $base-black-soft;
      background-color: #000;

      .mode--light {
        display: none !important;
      }

      [data-color-scheme='light'] {
        display: none !important;
      }
    }
  }

  &.light-mode {
    background-color: $base-white-blue;

    .mode--dark {
      display: none !important;
    }

    [data-color-scheme='dark'] {
      display: none !important;
    }
  }
  @media (prefers-color-scheme: light) {
    &.auto-color-scheme {
      background-color: #fff;
      background-color: $base-white-blue;

      .mode--dark {
        display: none !important;
      }

      [data-color-scheme='dark'] {
        display: none !important;
      }
    }
  }
}

@media only screen and (min-width: 700px) {
  html {
    font-size: 93%;
  }
}
@media only screen and (min-width: 1400px) {
  html {
    font-size: 100%;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-family: $ui-font;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  word-break: keep-all;
  font-size: 16px;
  user-select: none;
  overflow-anchor: none; // prevent always scroll end
  @include bg;
  @include text-color;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1 {
  @include heading1;
}

h2 {
  @include heading2;
}

h3 {
  @include heading3;
}

p,
a,
textarea,
span,
div,
input {
  font-family: $ui-font;
  font-weight: 400;
  margin: 0;
  padding: 0;
  border: none;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='search'],
textarea {
  @include input-style;
}

[disabled] {
  opacity: 0.5;
}

p,
a {
  @include paragraph;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-touch-callout: none !important;

  &.absolute-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
  }
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font-family: $ui-font;
  font-size: 1rem;
  color: $base-gray;
}

img {
  user-select: none;
  pointer-events: none;
}

ul,
ol {
  list-style: none;
}

.eodiro-app {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  &:first-child {
    z-index: 1;
  }

  $transition-time: 500ms;

  &.trans-enter {
    opacity: 0;
  }
  &.trans-enter.trans-enter-active {
    opacity: 1;
    transition: opacity $transition-time ease;
  }
  &.trans-exit {
    opacity: 1;
    filter: blur(0);
  }
  &.trans-exit.trans-exit-active {
    opacity: 0;
    transition: opacity $transition-time ease;
  }
}

// global styles
.eodiro-btn {
  cursor: pointer;
  background-color: $light-blue;
  border-radius: 50px;
  padding: 0.6rem 1.2rem;
  font-family: $ui-font;
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff !important;
  box-shadow: 0 0.5rem 1.5rem rgba($light-blue, 0.3);

  @include dark-mode() {
    background-color: $light-yellow;
    box-shadow: 0 0.5rem 1.5rem rgba(#000, 0.3);
  }
}

// stagger appear animation
.stagger-appear {
  animation: $spring-time springFadeUp linear;
  animation-fill-mode: forwards;
}

.stagger-appear-fix {
  opacity: 1 !important;
}

// PAYW Icon
.payw-icon {
  height: 1.3em;
  width: auto;
}

.eodiro-topbar {
  top: 50% !important;
  transform: translateY(-50%);
}
