@import '~/assets/styles/scss/main';

.select-wrapper {
  display: flex;
  position: relative;

  select {
    display: flex;
    width: 100%;
    appearance: none;
    background: none;
    border: none;
    @include elm-fill;
    font-size: b(1);
    margin: 0;
    padding: s(2) s(3);
    padding-right: s(3) * 1.5 + 1rem;
    @include text-color;
    font-family: $ui-font;
    @include input-text;
  }

  &::after {
    content: '▼';
    color: $base-gray;
    font-size: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    right: s(3);
    transform: translateY(-50%);
    pointer-events: none;
  }
}
