// fade page transition
.fade-enter-active {
  transition: opacity 500ms ease;
  opacity: 1;
  // transform: scale(1);
}
.fade-enter {
  opacity: 0;
  // transform: scale(0.95);
}
.fade-leave-active {
  transition: opacity 500ms ease;
  opacity: 1;
}
.fade-leave-to {
  opacity: 0;
}

// test 1
.test-enter-active,
.test-leave-active {
  transition: transform 3s ease;
  transform: translateY(0);
}
// .test-leave-active {
//   transition: none;
// }
.test-enter,
.test-leave-to {
  transform: translateY(100%);
}

// test 2
.test2-enter-active {
  transition: opacity 3s ease;
  opacity: 1;
}
.test2-enter {
  opacity: 0;
}
.test2-leave-active {
  transition: opacity 3s ease;
  opacity: 1;
}
.test2-leave-to {
  opacity: 0;
}

// global soft fade page transition
.global-soft-fade-enter-active {
  transition: opacity 300ms ease;
  opacity: 1;
}
.global-soft-fade-enter {
  opacity: 0;
}
.global-soft-fade-leave-active {
  transition: opacity 300ms ease;
  opacity: 1;
}
.global-soft-fade-leave-to {
  opacity: 0;
}

// clubs
// clubs: topic index -> topic profile
.clubs-to-profile-enter-active {
  transition: visibility 300ms ease;
  visibility: visible;
}
.clubs-to-profile-enter {
  visibility: hidden;
}

// clubs: topic profile -> topic index
.clubs-to-index-leave-active {
  transition: visibility 500ms ease;
  visibility: visible;
}
.clubs-to-index-leave-to {
  visibility: hidden;
}

// Custom transition
// .custom-enter-active {
//   transition: visibility 500ms ease;
//   visibility: visible;
// }
// .custom-enter {
//   visibility: hidden;
// }
.custom-leave-active {
  transition: opacity 400ms ease;
  opacity: 1;
}
.custom-leave-to {
  opacity: 0;
}

// Transitions
.fold-enter-active,
.fold-leave-active {
  transition: height 0.3s ease, padding 0.3s ease;
}
.fold-enter, .fold-leave-to /* .fade-leave-active below version 2.1.8 */ {
  height: 0 !important;
  padding: 0 !important;
}

// template
// .name-enter-active,
// .name-leave-active {
//   transition: opacity 200s ease;
//   opacity: 1;
// }
// .name-enter,
// .name-leave-to {
//   opacity: 0;
// }
