@use '@/assets/styles/main' as *;

.comments-section {
  margin-top: 40px;
}

.comments-headline {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 15px;
  @include resolve-optical-illusion();
}

.comments {
  padding: 20px;
}

.no-comments-yet {
  font-size: 17px;
  font-weight: 500;
  text-align: center;
}

.comment-item {
  padding: 15px 0;
  @include separator('top');

  &:first-child {
    padding-top: 0;
    border-top: none;
  }

  &:last-child {
    padding-bottom: 0;
  }

  .comment-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4px;

    .right-side {
      margin-left: 10px;
    }

    .subcomment {
      color: $eodiro-green-2;
      margin-right: 10px;
    }

    .delete {
      color: $eodiro-primary-color;
      margin-right: 10px;
    }

    .commented-at {
      font-size: 14px;
      color: $base-gray;
    }
  }

  .author {
    font-size: 15px;
    font-weight: 400;
    color: $base-gray;
  }

  .body {
    font-size: 17px;
  }
}

.subcomments {
  margin-left: 24px;
}

.subcomment-item {
  @include elm-fill-distinct;
  margin-top: 10px;
  border-radius: $border-radius-inner;
  padding: 14px;
  position: relative;

  .arrow {
    position: absolute;
    top: 15px;
    right: calc(100% + 8px);
    font-size: 16px;
    color: $base-gray;
  }
}

.comment-input {
  margin-top: 16px;
}

.subcomment-input {
  margin-top: 10px;
  position: relative;

  input {
    box-shadow: none;
    @include elm-fill-distinct;
  }

  .cancel-new-subcomment {
    position: absolute;
    right: calc(100% + 8px);
    top: 50%;
    transform: translateY(-50%);
    color: $eodiro-primary-color;
  }
}

.new-subcomment-text-btn {
  margin-top: 14px;
  color: $eodiro-green-2;
  width: 100%;
}

.indicating {
  @keyframes glow {
    0% {
      box-shadow: inset 0 0 0 1000px $eodiro-yellow-1;
    }
    20% {
      box-shadow: inset 0 0 0 1000px $eodiro-yellow-1;
    }
    100% {
      box-shadow: inset 0 0 0 1000px transparent;
    }
  }

  @keyframes glow-dark {
    0% {
      box-shadow: inset 0 0 0 1000px $eodiro-purple-2;
    }
    20% {
      box-shadow: inset 0 0 0 1000px $eodiro-purple-2;
    }
    100% {
      box-shadow: inset 0 0 0 1000px transparent;
    }
  }

  animation-name: glow;
  @include dark-mode {
    animation-name: glow-dark;
  }
  animation-duration: 2s;
}
