@use '@/assets/styles/main' as *;

.community-home-section {
  margin-bottom: 40px;

  .subhead {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 15px;
    @include resolve-optical-illusion;
  }
}

.no-pins-yet {
  @include resolve-optical-illusion;
  color: $base-gray;
  font-weight: 500;
}

.pin-icon {
  position: relative;
  top: 0.05em;
}

.board-section {
  padding: 20px;
}

.board-header {
  @include separator('bottom');
  padding-bottom: 20px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.board-more {
  color: $eodiro-primary-color;
  margin-left: 20px;
}

.no-post-yet {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-size: 17px;
  font-weight: 400;
  color: $base-gray;
}

.see-all-boards {
  margin-top: 40px;
}
