@import '../variables/all.scss';
@import './all.scss';

@mixin separator {
  @include ui-transition;
  border-color: rgba(#000, 0.1) !important;
  border-width: 1px !important;

  @include dark-mode {
    border-color: rgba(#fff, 0.17) !important;
  }
}
