@import '../variables/spacing.scss';
@import './screen.scss';

@mixin gap($custom-gap: null) {
  @if $custom-gap {
    $gap: $custom-gap !global;
  } @else {
    $gap: $posh-gap !global;
  }

  @content;

  @include on-mobile {
    @if $custom-gap {
      $gap: $custom-gap / 1.25 !global;
    } @else {
      $gap: $posh-gap / 1.25 !global;
    }

    @content;
  }
}
