@use '@/assets/styles/main' as *;

.base-layout-header {
  position: relative;
  margin-bottom: s(8);
  display: block;
  width: 100%;
  @include resolve-optical-illusion(r(4));

  .page-title {
    line-height: 1;
    font-size: 2.8rem;
    font-weight: 700;
  }

  &.center {
    margin-left: 0;
    text-align: center;
    padding-left: 0;
  }

  &.hidden {
    height: 0px;
    padding: 0;
    margin: 0;
    display: none;
  }
}

.overlay-sentinel {
  position: relative;
  width: 100%;
  height: 1px;
  top: -$nav-height - 0.625rem;
}

.title-sentinel {
  position: relative;
  width: 100%;
  height: 1px;
  top: -$nav-height - 0.5rem - 0.625rem;
}
