.eodiro-join-verification {
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .manifesto {
    text-align: center;
  }

  .btn {
    margin-top: 2rem;
  }
}
