@use '@/assets/styles/main' as *;

.comp-require-auth {
  @include border-radius-outer;
  @include elm-fill;
  @include shadowed;
  @include clickable;
  padding: 2rem 1.5rem;
  text-align: center;

  position: relative;

  .icon {
    font-size: 3rem;
    color: $eodiro-primary-color;
  }

  .paragraph {
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 1rem;
  }
}
