@use '@/assets/styles/main' as *;

.tips-list {
  .empty {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    min-height: 100px;

    margin-top: 20px;
    padding: 20px;

    @include block-style-raw;

    .icon {
      font-size: 40px;
      color: $eodiro-primary-color;
    }

    .msg {
      font-weight: 500;
      margin-top: 10px;
    }
  }
}

.is-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  @include block-style-raw;
  padding: 40px 20px;
  margin-top: 20px;
}
