@use '@/assets/styles/main' as *;

// like and bookmark
.like-and-bookmark {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;

  .like,
  .bookmark {
    display: flex;
    padding: 10px 12px;
    font-size: 17px;
    border-radius: 9999px;
    line-height: 1;

    .count {
      margin-left: 3px;
      font-weight: 500;
      font-variant-numeric: tabular-nums;
    }
  }

  .like {
    margin-right: 5px;
    background-color: transparentize(
      $color: $eodiro-primary-color,
      $amount: 0.9
    );
    color: $eodiro-primary-color;

    &.is-liked {
      background-color: $eodiro-primary-color;
      color: $base-white;
    }
  }

  .bookmark {
    background-color: transparentize($color: $eodiro-orange-2, $amount: 0.9);
    color: $eodiro-orange-2;

    &.is-bookmarked {
      background-color: $eodiro-orange-2;
      color: $base-white;
    }
  }
}
