@import '~/assets/styles/scss/utilities/_mixins.scss';
@import '~/assets/styles/scss/utilities/_variables.scss';

@mixin block-style {
  @include elm-fill;
  border-radius: $border-radius;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  padding: 0 $gentle-gap;
  min-height: 5.5rem;
  cursor: pointer;
  overflow: hidden;
}
