@import '~assets/styles/scss/utilities/mixins';
@import '~assets/styles/scss/utilities/functions';
@import '~assets/styles/scss/utilities/variables';

@mixin block-style {
  @include elm-fill;
  position: relative;
  border-radius: r(5);
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  min-height: 5.5rem;
  padding: 0 s(4);
}
