// shadow
$eodiro-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.1); // @deprecated
$eodiro-shadow--dark: 0 0.4rem 1rem rgba(0, 0, 0, 0.4); // @deprecated
$dark-mode-border-shadow: inset 0 0 0 1px rgba(#000, 1),
  inset 0 0 0 2px rgba(#fff, 0.3); // @deprecated
