// sizes

// responsive width steps
$width-step--1: 700px;
$width-step--2: 1400px;

// master content sizes
// check default.vue
$master-content-max-width: 60rem;
$master-content-top-gap: 2rem;
$master-content-bottom-gap: 8rem;

// EodiroBanner.vue
// if you modify these values
// you should also modify HomeBgTile component
$banner-height: 37vh;
$nav-height: 50px;
$nav-height: 3.5rem;

// button
$btn-height: 3rem;

// border radius
$radius: 0.7rem;
