// spacing and gaps

$mobile-width-threshold: 700px; // @deprecated
$stagger-gap: 6rem; // @deprecated
$grid-max-width: 16rem; // @deprecated

// don't use it directly
// apply gap with @mixin gap()
$posh-gap: 1.35rem;
