@import '~/assets/styles/scss/utilities/_variables.scss';

// dark mode
@mixin dark-mode {
  .dark-mode & {
    @content;
  }
  @media (prefers-color-scheme: dark) {
    .auto-color-scheme & {
      @content;
    }
  }
}
// light mode
@mixin light-mode {
  .light-mode & {
    @content;
  }
  @media (prefers-color-scheme: light) {
    .auto-color-scheme & {
      @content;
    }
  }
}

// transitions
@mixin ui-transition {
  transition: border $color-scheme-transition-time ease,
    background-color $color-scheme-transition-time ease;
}

// body background color
@mixin bg {
  @include ui-transition;
  background-color: #fff;

  @include dark-mode {
    background-color: #000;
  }
}
@mixin bg-inverted {
  @include ui-transition;
  background-color: #000;

  @include dark-mode {
    background-color: #fff;
  }
}

// text color
@mixin text-color {
  @include ui-transition;
  color: $base-black;

  @include dark-mode {
    color: $base-white;
  }
}
@mixin text-color-inverted {
  @include ui-transition;
  color: $base-white;

  @include dark-mode {
    color: $base-black;
  }
}

// element fill
@mixin elm-fill {
  background-color: $base-white-blue;

  @include dark-mode {
    background-color: $base-black-soft;
  }
}
@mixin elm-fill-inverted {
  background-color: $base-black-soft;

  @include dark-mode {
    background-color: $base-white-blue;
  }
}

// layered fill
@mixin overlay {
  background-color: $t-white;

  @include dark-mode {
    background-color: $t-black;
  }
}
@mixin overlay-inverted {
  background-color: $t-black;

  @include dark-mode {
    background-color: $t-white;
  }
}

// screen
@mixin smaller-than($width) {
  @media only screen and (max-width: $width) {
    @content;
  }
}
@mixin larger-than($width) {
  @media only screen and (min-width: $width) {
    @content;
  }
}
@mixin on-mobile {
  @include smaller-than($width-step--1) {
    @content;
  }
}

// gap
// @depreacted
@mixin gap($custom-gap: null) {
  @if $custom-gap {
    $gap: $custom-gap !global;
  } @else {
    $gap: $posh-gap !global;
  }

  @content;

  @include on-mobile {
    @if $custom-gap {
      $gap: $custom-gap / 1.25 !global;
    } @else {
      $gap: $posh-gap / 1.25 !global;
    }

    @content;
  }
}

// typography
// headings
@mixin heading-common {
  font-weight: 700;
}
@mixin heading1 {
  @include heading-common;
  font-size: 2.3rem;
  line-height: 1.1;
}
@mixin heading2 {
  @include heading-common;
  font-size: 1.7rem;
  line-height: 1.2;
}
@mixin heading3 {
  @include heading-common;
  font-size: 1.2rem;
  line-height: 1.3;
}
@mixin paragraph {
  font-size: 1rem;
  line-height: 1.4;
}

// background image utils
@mixin bgImg($url, $position: center, $size: 'contain') {
  background-image: url($url);
  background-repeat: no-repeat;
  background-position: unquote($position);
  background-size: unquote($size);
}

@mixin separator {
  border-color: rgba(#000, 0.1) !important;
  border-width: 1px !important;

  @include dark-mode {
    border-color: rgba(#fff, 0.17) !important;
  }
}

@mixin bordered {
  border-radius: $border-radius !important;
  border: 1px solid rgba(#000, 0.1) !important;

  @include dark-mode {
    border: 1px solid rgba(#fff, 0.17) !important;
  }
}
