@import '~assets/styles/scss/utilities/variables';
@import '~assets/styles/scss/utilities/functions';

// dark mode
@mixin dark-mode {
  .dark-mode & {
    @content;
  }
  @media (prefers-color-scheme: dark) {
    .auto-color-scheme & {
      @content;
    }
  }
}
// light mode
@mixin light-mode {
  .light-mode & {
    @content;
  }
  @media (prefers-color-scheme: light) {
    .auto-color-scheme & {
      @content;
    }
  }
}

@mixin on-english {
  [lang='en'] & {
    @content;
  }
}

// transitions
@mixin ui-transition {
  transition: border $color-scheme-transition-time ease,
    background-color $color-scheme-transition-time ease;
}

// body background color
@mixin bg {
  @include ui-transition;
  background-color: #fff;
  background-color: $base-white-blue;

  @include dark-mode {
    background-color: #000;
    // background-color: $base-black-soft;
  }
}
@mixin bg-inverted {
  @include ui-transition;
  background-color: #000;
  background-color: $base-black-soft;

  @include dark-mode {
    background-color: #fff;
    background-color: $base-white-blue;
  }
}

// text color
@mixin text-color {
  @include ui-transition;
  color: $base-black;

  @include dark-mode {
    color: $base-white;
  }
}
@mixin text-color-inverted {
  @include ui-transition;
  color: $base-white;

  @include dark-mode {
    color: $base-black;
  }
}

// element fill
@mixin elm-fill {
  background-color: $base-white-blue;
  background-color: #fff;
  border: 1px solid rgba($color: #000, $alpha: 0.1);

  @include dark-mode {
    background-color: $base-black-soft;
    // background-color: #000;
    border: 1px solid rgba($color: #fff, $alpha: 0.1);
  }
}
@mixin elm-fill-inverted {
  background-color: $base-black-soft;

  @include dark-mode {
    background-color: $base-white-blue;
  }
}

// layered fill
@mixin overlay {
  background-color: $t-white;

  @include dark-mode {
    background-color: $t-black;
  }
}
@mixin overlay-inverted {
  background-color: $t-black;

  @include dark-mode {
    background-color: $t-white;
  }
}

// screen
@mixin smaller-than($width) {
  @media only screen and (max-width: $width) {
    @content;
  }
}
@mixin larger-than($width) {
  @media only screen and (min-width: $width) {
    @content;
  }
}
@mixin on-mobile {
  @include smaller-than($width-step--1) {
    @content;
  }
}

// typography
// headings
@mixin heading1 {
  font-size: 2.3rem;
  font-weight: fw(6);
  line-height: lh(2);
}
@mixin heading2 {
  font-size: 1.7rem;
  font-weight: fw(5);
  line-height: lh(2);
}
@mixin heading3 {
  font-size: 1.2rem;
  font-weight: fw(5);
  line-height: lh(2);
}
@mixin paragraph {
  font-size: 1rem;
  font-weight: fw(3);
  line-height: lh(4);
}

@mixin input-text {
  @include smaller-than($width-step--1) {
    font-size: 16px !important;
  }
}

// background image utils
@mixin bgImg($url, $position: center, $size: 'contain') {
  background-image: url($url);
  background-repeat: no-repeat;
  background-position: unquote($position);
  background-size: unquote($size);
}

@mixin separator($direction: '') {
  @if $direction == '' {
    border-color: rgba(#000, 0.1);
    border-width: 1px;
    @include dark-mode {
      border-color: rgba(#fff, 0.17);
    }
  } @else {
    border-#{$direction}: 1px solid rgba(#000, 0.1);
    @include dark-mode {
      border-color: rgba(#fff, 0.17);
    }
  }
}

$border-color: rgba(#000, 0.1);
$border-color-dark: rgba(#fff, 0.17);

@mixin bordered {
  border: 1px solid rgba(#000, 0.1);

  @include dark-mode {
    border: 1px solid rgba(#fff, 0.17);
  }
}

@mixin rounded {
  border-radius: r(4);
}

// Forms
$input-border-radius: r(4);

@mixin input-style {
  @include bordered;
  @include rounded;
  @include text-color;
  @include elm-fill;
  // background-color: transparent;
  font-size: b(2);
  padding: s(3);
  height: $btn-height !important;
  appearance: none;
  overflow: auto;
  display: block;
  width: 100%;
  resize: none;

  @include input-text;
}

// Flex center center
@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin resolve-optical-illusion($value: null) {
  @if $value {
    margin-left: $value / 3;
  } @else {
    margin-left: r(4) / 3;
  }
}
