@import '~assets/styles/scss/utilities/variables';
@import '~assets/styles/scss/utilities/functions';

// dark mode
@mixin dark-mode {
  .dark-mode & {
    @content;
  }
  @media (prefers-color-scheme: dark) {
    .auto-color-scheme & {
      @content;
    }
  }
}
// light mode
@mixin light-mode {
  .light-mode & {
    @content;
  }
  @media (prefers-color-scheme: light) {
    .auto-color-scheme & {
      @content;
    }
  }
}

// transitions
@mixin ui-transition {
  transition: border $color-scheme-transition-time ease,
    background-color $color-scheme-transition-time ease;
}

// body background color
@mixin bg {
  @include ui-transition;
  background-color: #fff;

  @include dark-mode {
    background-color: #000;
  }
}
@mixin bg-inverted {
  @include ui-transition;
  background-color: #000;

  @include dark-mode {
    background-color: #fff;
  }
}

// text color
@mixin text-color {
  @include ui-transition;
  color: $base-black;

  @include dark-mode {
    color: $base-white;
  }
}
@mixin text-color-inverted {
  @include ui-transition;
  color: $base-white;

  @include dark-mode {
    color: $base-black;
  }
}

// element fill
@mixin elm-fill {
  background-color: $base-white-blue;

  @include dark-mode {
    background-color: $base-black-soft;
  }
}
@mixin elm-fill-inverted {
  background-color: $base-black-soft;

  @include dark-mode {
    background-color: $base-white-blue;
  }
}

// layered fill
@mixin overlay {
  background-color: $t-white;

  @include dark-mode {
    background-color: $t-black;
  }
}
@mixin overlay-inverted {
  background-color: $t-black;

  @include dark-mode {
    background-color: $t-white;
  }
}

// screen
@mixin smaller-than($width) {
  @media only screen and (max-width: $width) {
    @content;
  }
}
@mixin larger-than($width) {
  @media only screen and (min-width: $width) {
    @content;
  }
}
@mixin on-mobile {
  @include smaller-than($width-step--1) {
    @content;
  }
}

// gap
// @depreacted
@mixin gap($custom-gap: null) {
  @if $custom-gap {
    $gap: $custom-gap !global;
  } @else {
    $gap: $posh-gap !global;
  }

  @content;

  @include on-mobile {
    @if $custom-gap {
      $gap: $custom-gap / 1.25 !global;
    } @else {
      $gap: $posh-gap / 1.25 !global;
    }

    @content;
  }
}

// typography
// headings
@mixin heading1 {
  font-size: 2.3rem;
  font-weight: fw(6);
  line-height: lh(2);
}
@mixin heading2 {
  font-size: 1.7rem;
  font-weight: fw(5);
  line-height: lh(2);
}
@mixin heading3 {
  font-size: 1.2rem;
  font-weight: fw(5);
  line-height: lh(2);
}
@mixin paragraph {
  font-size: 1rem;
  font-weight: fw(3);
  line-height: lh(4);
}

@mixin input-text {
  @include smaller-than($width-step--1) {
    font-size: 16px !important;
  }
}

// background image utils
@mixin bgImg($url, $position: center, $size: 'contain') {
  background-image: url($url);
  background-repeat: no-repeat;
  background-position: unquote($position);
  background-size: unquote($size);
}

@mixin separator {
  border-color: rgba(#000, 0.1) !important;
  border-width: 1px !important;

  @include dark-mode {
    border-color: rgba(#fff, 0.17) !important;
  }
}

$border-color: rgba(#000, 0.1);
$border-color-dark: rgba(#fff, 0.17);

@mixin bordered {
  border: 1px solid rgba(#000, 0.1) !important;

  @include dark-mode {
    border: 1px solid rgba(#fff, 0.17) !important;
  }
}

// Forms
$input-border-radius: radius(4);

@mixin input-style {
  @include bordered;
  border-radius: radius(4);
  @include text-color;
  background-color: transparent;
  font-size: body(2);
  padding: space(3);
  height: $btn-height !important;
  appearance: none;
  overflow: auto;
  display: block;
  width: 100%;
  resize: none;

  @include input-text;
}
