// background colors
// #fff for over white, #000 over black
$base-white-blue: #f5f6f8;
$base-black-soft: #1d1d1d;

// text colors
$base-white: #f0f0f0;
$base-black: #222;
$base-gray: #808080;

// chromatic colors
// each step and its number is from
// logo's gradient level
$c-step--3: #ff7037;
$c-step--4: #ff3852;

// translucent colors
$t-white: rgba(255, 255, 255, 0.08);
$t-black: rgba(0, 0, 0, 0.04);

// high contrast colors
// @deprecated
$light-blue: #009eff;
$light-yellow: #ffb109;

// responsive width steps
$width-step--1: 700px;
$width-step--1_: 699px;
$width-step--2: 1400px;
$width-step--2_: 1401px;

// master content sizes
// check default.vue
$master-content-max-width: 60rem;
$master-content-top-gap: 2rem;
$master-content-bottom-gap: 9rem;

// EodiroBanner.vue
// if you modify these values
// you should also modify HomeBgTile component
$banner-height: 37vh;
$nav-height: 3rem;

// button
$btn-height: 3rem;

// border radius
$border-radius: 0.7rem;

// spacing/gaps/gutters
$slight-gap: 0.5rem;
$gentle-gap: 1rem;
$posh-gap: 1.35rem;

// spring animation time
$spring-time: 1000ms;

// light mode <-> dark mode transition time
$color-scheme-transition-time: 300ms;

// fonts
$ui-font: 'PAYW Pro', 'PAYW Pro KR', -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
  sans-serif;
