@use '@/assets/styles/main' as *;

.component-open-source {
  .manifesto {
    margin-top: 4rem;
  }

  .paragraph {
    font-size: 2rem;
    font-weight: 600;
    margin-top: 1rem;
    line-height: 1.3;

    a {
      font-size: inherit;
      font-weight: inherit;
      color: $eodiro-primary-color;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .contributors {
    margin-top: 100px;
    padding: 25px;
    @include block-style-raw;

    .title {
      font-size: 1.5rem;
    }

    .description {
      font-size: 1.2rem;
      color: $base-gray;
      margin-top: 0.5rem;
    }

    .users {
      --profile-size: 120px;
      margin-top: 2rem;
      display: grid;
      grid-gap: 1.5rem;
      grid-template-columns: repeat(
        auto-fill,
        minmax(var(--profile-size), 1fr)
      );

      .user {
        display: grid;
        grid-row-gap: 5px;

        .avatar {
          width: 100%;
          border-radius: 8px;
          @include shadowed;
          margin-bottom: 5px;
        }

        .name {
          font-size: 15px;
          line-height: 1;
          text-align: center;
          word-break: break-all;
        }

        .contributions {
          line-height: 1;
          font-size: 14px;
          font-weight: 600;
          color: $eodiro-primary-color;
          text-align: center;
          border-radius: 9999px;
        }
      }
    }
  }
}
