@use '@/assets/styles/main' as *;

.app-body {
  max-width: 600px !important;
  margin: auto;
}

.configure-notifications {
  background-color: rgba($color: $eodiro-secondary-color, $alpha: 0.2);
  color: $eodiro-primary-color;
  padding: 15px;
  @include rounded;
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 50px;
}

.subtitle {
  font-size: 20px;

  &.more {
    margin-top: 50px;
  }
}

.head3 {
  font-size: 17px;
  margin-bottom: 17px;
}

.paragraph {
  font-size: 20px;
  margin-top: 5px;
  font-weight: 500;
  color: $base-gray;

  a {
    color: $eodiro-primary-color;
    font-size: 1em;
  }
}

.config-box {
  @include box;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 50px;

  .subtitle {
    margin-bottom: 20px;
  }
}

.notice-item {
  display: flex;
  align-items: center;
  margin-top: 10px;

  .display-name {
    padding-left: 10px;
    user-select: none;
    flex: 1;
  }
}
