@use '@/assets/styles/main' as *;

.post-page-body {
  max-width: 800px !important;
}

.post-container {
  padding: 20px;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;

    .author {
      font-weight: 600;
      font-size: 17px;
    }

    .time {
      color: $base-gray;
      font-size: 16px;
    }
  }

  .title {
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 20px;
  }

  .body {
    br,
    p {
      font-size: 17px;
    }
  }
}
