@use '@/assets/styles/main' as *;

.new-comment {
  .nc-input {
    margin-top: 1rem;
    transition: background-color 200ms ease;
    background-color: #fff !important;
    padding-right: 3.5rem;

    @include dark-mode {
      background-color: #000 !important;
    }
  }

  .done {
    top: 50%;
    transform: translateY(-50%);
    right: 1rem;
    color: $eodiro-primary-color;
  }
}
