@import 'SCSS/global-variables';
@import 'SCSS/global-mixins';

@function lightenFancy($color) {
  @return adjust-hue(saturate(lighten($color, 15%), 0%), 0%);
}

@mixin bgGradient($color) {
  background-image: radial-gradient(at -10% -10%, lightenFancy($color), $color) !important;
  // background-image: linear-gradient(to right, lightenFancy($color), $color);
  box-shadow: 0 0.4rem 1rem rgba($color, 0.4) !important;

  @include dark-mode() {
    box-shadow: $dark-mode-border-shadow, 0 0.4rem 1rem rgba(#000, 0.4) !important;
  }
}

@for $i from 0 to length($gradient-collection) {
  .gradient--#{$i+1} {
    @include bgGradient(nth($gradient-collection, $i + 1));
  }
}

.grayed {
  @include bgGradient(nth($gradient-collection, 13));
}

.full-time {
  @include bgGradient(nth($gradient-collection, 12));
}
