@import './fonts.css';
@import './global-variables.scss';
@import './global-mixins.scss';

html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	font-size: 100%;
	background-color: $base-white;
	transition: background-color 1000ms ease;

	&.dark-mode {
		background-color: $base-black;
		.mode--light {
			display: none !important;
		}
	}
	@media (prefers-color-scheme: dark) {
		&.auto-color-scheme {
			background-color: $base-black;
			.mode--light {
				display: none !important;
			}
		}
	}

	&.light-mode {
		background-color: $base-white;
		.mode--dark {
			display: none !important;
		}
	}
	@media (prefers-color-scheme: light) {
		&.auto-color-scheme {
			background-color: $base-white;
			.mode--dark {
				display: none !important;
			}
		}
	}
}

@media only screen and (min-width: 700px) {
	html {
		font-size: 110%;
	}
}
@media only screen and (min-width: 1400px) {
	html {
		font-size: 120%;
	}
}

body {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	-o-font-smoothing: antialiased;
	font-family: $font-text;
	margin: 0;
	padding: 0;
	word-wrap: break-word;
	word-break: keep-all;
	background-color: $base-white;
	font-size: 17px;
	color: $base-black;
	user-select: none;
	transition: background-color 500ms ease;

	@include dark-mode() {
		background-color: $base-black;
		color: $base-white;
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	-webkit-tap-highlight-color: transparent;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	border: none;
}

img {
	user-select: none;
	pointer-events: none;
}

.eodiro-app {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;

	&:first-child {
		z-index: 1;
	}

	$transition-time: 500ms;

	&.trans-enter {
		// transform: translateX(50px);
		opacity: 0;
	}
	&.trans-enter.trans-enter-active {
		// transform: translateX(0);
		opacity: 1;
		transition: all $transition-time ease;
		// transition-delay: $transition-time;
	}
	&.trans-exit {
		// transform: translateX(0);
		opacity: 1;
		filter: blur(0);
	}
	&.trans-exit.trans-exit-active {
		// transform: translateX(-50px);
		// opacity: 1;
		opacity: 0;
		// filter: blur(10px);
		transition: all $transition-time ease;
		// transition-delay: $transition-time;
	}
}

.fade-enter-active, .fade-leave-active {
	transition: all 200ms ease;
	opacity: 1;
}
.fade-enter, .fade-leave-to {
	opacity: 0;
}

.eodiro-btn {
	cursor: pointer;
	background-color: $light-blue;
	border-radius: 50px;
	padding: 0.6rem 1.2rem;
	font-family: $font-text;
	font-size: 1.2rem;
	font-weight: 700;
	color: #fff;
	box-shadow: 0 0.5rem 1.5rem rgba($light-blue, 0.3);
	transition: $smooth-transition;

	@include dark-mode() {
		background-color: $light-yellow;
		box-shadow: 0 0.5rem 1.5rem rgba(#000, 0.3);
	}
}