.gradient--1 {
  background-image: radial-gradient(at 0% 0%, rgb(249,48,73), rgb(197,25,32));
}
.gradient--2 {
  background-image: radial-gradient(at 0% 0%, rgb(240,106,66), rgb(216,	45,	0));
}
.gradient--3 {
  background-image: radial-gradient(at 0% 0%, rgb(251,	138,	38), rgb(223,	89,	0));
}
.gradient--4 {
  background-image: radial-gradient(at 0% 0%, rgb(237,	183,	0), rgb(227,	133,	0	));
}
.gradient--5 {
  background-image: radial-gradient(at 0% 0%, rgb(94,	202,	64	), rgb(59,	156,	9	));
}
.gradient--6 {
  background-image: radial-gradient(at 0% 0%, rgb(65,	207,	178	), rgb(0,	164,	144	));
}
.gradient--7 {
  background-image: radial-gradient(at 0% 0%, rgb(68,	202,	214	), rgb(0,	157,	198	));
}
.gradient--8 {
  background-image: radial-gradient(at 0% 0%, rgb(81,	168,	238	), rgb(0,	120,	225	));
}
.gradient--9 {
  background-image: radial-gradient(at 0% 0%, rgb(41,	119,	221	), rgb(0,	71,	193	));
}
.gradient--10 {
  background-image: radial-gradient(at 0% 0%, rgb(120,	83,	231	), rgb(76,	35,	187	));
}
.gradient--11 {
  background-image: radial-gradient(at 0% 0%, rgb(176,	73,	216	), rgb(134,	9,	175	));
}
.gradient--12 {
  background-image: radial-gradient(at 0% 0%, rgb(240,	105,	172	), rgb(204,	45,	128	));
}
.gradient--13 {
  background-image: radial-gradient(at 0% 0%, rgb(120,	121,	126	), rgb(85,	87,	90	));
}
.gradient--14 {
  background-image: radial-gradient(at 0% 0%, rgb(158,	154,	147	), rgb(128,	122,	106	));
}
.gradient--15 {
  background-image: radial-gradient(at 0% 0%, rgb(142,	154,	174	), rgb(108,	118,	142	));
}