@use '@/assets/styles/main' as *;

#eodiro-home {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @keyframes float {
    0% {
      transform: translate3d(0, 200%, 0);
    }
    100% {
      transform: translate3d(0, 0%, 0);
    }
  }

  .header {
    line-height: 1;
    @include resolve-optical-illusion($border-radius-outer);
    overflow-y: hidden;

    .text-wrapper {
      transform: translate3d(0, 200%, 0);

      &.animate {
        animation-name: float;
        animation-duration: 800ms;
        animation-fill-mode: forwards;
        animation-timing-function: ease;
      }
    }

    .emoji {
      display: inline-block;
      margin-left: s(3);
    }

    .name {
      $pink: #ffe6e6;
      @include text-color;
      font-weight: 700;
      font-size: 7rem;
      transition: color 400ms ease, text-shadow 500ms ease;

      $shadow-distance: 0.3rem;
      $shadow-far: $shadow-distance * 2;

      &.shadowed {
        text-shadow: $shadow-distance $shadow-distance $eodiro-primary-color,
          $shadow-far $shadow-far #ffc14f;
        color: $base-white;

        @include dark-mode {
          color: $pink;
          text-shadow: $shadow-distance $shadow-distance $eodiro-primary-color,
            $shadow-far $shadow-far #ff8e8e;
        }
      }

      @include on-mobile {
        font-size: 5rem;
      }
    }
  }

  .manifesto {
    margin-top: s(3);
    @include resolve-optical-illusion($border-radius-outer);
    overflow-y: hidden;

    .text {
      color: $base-gray;
      font-size: 2rem;
      margin-top: 10px;
      @include on-mobile {
        font-size: 1.5rem;
      }
      font-weight: 600;
      transform: translate3d(0, 100%, 0);
      display: inline-block;

      &.animate {
        animation-name: float;
        animation-duration: 1s;
        animation-delay: 0.2s;
        animation-fill-mode: forwards;
        animation-timing-function: ease;
      }
    }
  }

  .features {
    margin-top: 20px;

    .feature-box {
      position: relative;
      flex: 1;
      text-align: left;
      @include block-style;
      padding: 24px;
      @include clickable;

      .wrapper {
        width: 100%;
      }

      .icon {
        font-size: 32px;
        margin-bottom: 7px;
        color: $eodiro-secondary-color;
      }

      .feature-name {
        font-size: h(1);
        font-weight: 600;
        color: $base-gray;
        margin-top: 1rem;
      }

      .label {
        position: absolute;
        right: 24px;
        top: 24px;
        @include elm-fill;
        border: 1px solid $eodiro-blue-2;
        border-radius: 5px;
        color: $eodiro-blue-2;
        @include dark-mode {
          border: 1px solid $eodiro-yellow-1;
          color: $eodiro-yellow-1;
        }
        padding: 6px 8px;
        font-weight: 700;
        font-size: 12px;
        letter-spacing: 0.09em;
      }
    }
  }
}
