.center {
  display: flex;
  min-width: 0;
  flex-wrap: nowrap;

  &.column {
    flex-direction: column;
  }
  &.row {
    flex-direction: row;
  }
  &.center {
    align-items: center;
    justify-content: center;
  }
  &.align-center {
    align-items: center;
  }
  &.align-start {
    align-items: flex-start;
  }
  &.align-end {
    align-items: flex-end;
  }
  &.justify-center {
    justify-content: center;
  }
  &.justify-start {
    justify-content: flex-start;
  }
  &.justify-end {
    justify-content: flex-end;
  }
  &.justify-between {
    justify-content: space-between;
  }
  &.wrap {
    flex-wrap: wrap;
  }
}
