@use '@/assets/styles/main' as *;

.eodiro-board-page {
  // max-width: 50rem !important;

  .page-container {
    display: flex;

    .side {
      margin-right: 2rem;
      flex: 2;
      position: sticky;
      top: $nav-height + 1.5rem;
      min-width: 19rem;
      align-self: flex-start;
    }

    .content {
      flex: 5;
    }

    @include on-mobile {
      display: block;

      .side {
        margin-right: 0;
        margin-bottom: 1rem;
        position: relative;
        top: 0;

        .more {
          display: none;
        }
      }
    }
  }

  .new-btn-wrapper {
    margin-bottom: 1rem;
  }

  .posts-container {
  }
}
