/* 200, 300, 400, 500, 600, 800 weights are matched */

/* Noto Sans KR 94% */

@font-face {
  font-family: 'PAYW Pro KR';
  src: url('/fonts/NotoSansKR/NotoSansKR-Light.woff2') format('woff2'),
    url('/fonts/NotoSansKR/NotoSansKR-Light.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'PAYW Pro KR';
  src: url('/fonts/NotoSansKR/NotoSansKR-DemiLight.woff2') format('woff2'),
    url('/fonts/NotoSansKR/NotoSansKR-DemiLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'PAYW Pro KR';
  src: url('/fonts/NotoSansKR/NotoSansKR-Regular.woff2') format('woff2'),
    url('/fonts/NotoSansKR/NotoSansKR-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PAYW Pro KR';
  src: url('/fonts/NotoSansKR/NotoSansKR-Medium.woff2') format('woff2'),
    url('/fonts/NotoSansKR/NotoSansKR-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'PAYW Pro KR';
  src: url('/fonts/NotoSansKR/NotoSansKR-Bold.woff2') format('woff2'),
    url('/fonts/NotoSansKR/NotoSansKR-Bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'PAYW Pro KR';
  src: url('/fonts/NotoSansKR/NotoSansKR-Black.woff2') format('woff2'),
    url('/fonts/NotoSansKR/NotoSansKR-Black.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'PAYW Pro KR';
  src: url('/fonts/NotoSansKR/NotoSansKR-Black.woff2') format('woff2'),
    url('/fonts/NotoSansKR/NotoSansKR-Black.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'PAYW Pro KR';
  src: url('/fonts/NotoSansKR/NotoSansKR-Black.woff2') format('woff2'),
    url('/fonts/NotoSansKR/NotoSansKR-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

/* Inter 3.9 */

/* @font-face {
  font-family: 'PAYW Pro';
  font-style: normal;
  font-weight: 100;
  src: url('/fonts/Inter/Inter-Thin-BETA.woff2') format('woff2'),
    url('/fonts/Inter/Inter-Thin-BETA.woff') format('woff');
}

@font-face {
  font-family: 'PAYW Pro';
  font-style: normal;
  font-weight: 200;
  src: url('/fonts/Inter/Inter-ExtraLight-BETA.woff2') format('woff2'),
    url('/fonts/Inter/Inter-ExtraLight-BETA.woff') format('woff');
}

@font-face {
  font-family: 'PAYW Pro';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/Inter/Inter-Light-BETA.woff2') format('woff2'),
    url('/fonts/Inter/Inter-Light-BETA.woff') format('woff');
} */

@font-face {
  font-family: 'PAYW Pro';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Inter/Inter-Regular.woff2') format('woff2'),
    url('/fonts/Inter/Inter-Regular.woff') format('woff');
}

@font-face {
  font-family: 'PAYW Pro';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/Inter/Inter-Medium.woff2') format('woff2'),
    url('/fonts/Inter/Inter-Medium.woff') format('woff');
}

@font-face {
  font-family: 'PAYW Pro';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/Inter/Inter-SemiBold.woff2') format('woff2'),
    url('/fonts/Inter/Inter-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'PAYW Pro';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/Inter/Inter-Bold.woff2') format('woff2'),
    url('/fonts/Inter/Inter-Bold.woff') format('woff');
}

@font-face {
  font-family: 'PAYW Pro';
  font-style: normal;
  font-weight: 800;
  src: url('/fonts/Inter/Inter-Bold.woff2') format('woff2'),
    url('/fonts/Inter/Inter-Bold.woff') format('woff');
}

/* @font-face {
  font-family: 'PAYW Pro';
  font-style: normal;
  font-weight: 900;
  src: url('/fonts/Inter/Inter-Black.woff2') format('woff2'),
    url('/fonts/Inter/Inter-Black.woff') format('woff');
} */

@font-face {
  font-family: 'PAYW Pro';
  font-style: normal;
  font-weight: 900;
  src: url('/fonts/Inter/Inter-ExtraBold.woff2') format('woff2'),
    url('/fonts/Inter/Inter-ExtraBold.woff') format('woff');
}
