@use '@/assets/styles/global/fonts' as *;
@use '@/assets/styles/main' as *;
@use '@/assets/styles/global/transition' as *;
@use '@/assets/styles/global/input' as *;
@use '@/assets/styles/global/select' as *;
@use '@/assets/styles/classes/colors';
@use '@/assets/styles/page/class.scss';

// Octicons
@use '@/assets/styles/global/octicon';

// Framework7 Icons
@use '@/assets/styles/global/framework7-icons';

// Classes
@use '@/assets/styles/classes/index';

:root {
  color-scheme: light dark;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  font-size: 85%;
  @include bg;

  &.dark-mode {
    .mode--light {
      display: none !important;
    }

    [data-appearance='light'] {
      display: none !important;
    }
  }

  @media (prefers-color-scheme: dark) {
    & {
      [data-appearance='light'] {
        display: none !important;
      }
    }

    &.auto-color-scheme {
      background-color: $base-black-soft;
      background-color: #000;

      .mode--light {
        display: none !important;
      }

      [data-appearance='light'] {
        display: none !important;
      }
    }
  }

  &.light-mode {
    background-color: $base-white-blue;

    .mode--dark {
      display: none !important;
    }

    [data-appearance='dark'] {
      display: none !important;
    }
  }

  @media (prefers-color-scheme: light) {
    & {
      [data-appearance='dark'] {
        display: none !important;
      }
    }

    &.auto-color-scheme {
      background-color: #fff;
      background-color: $base-white-blue;

      .mode--dark {
        display: none !important;
      }

      [data-appearance='dark'] {
        display: none !important;
      }
    }
  }
}

@media only screen and (min-width: $width-step--1) {
  html {
    font-size: 90%;
  }
}
@media only screen and (min-width: $width-step--2) {
  html {
    font-size: 95%;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  font-family: $ui-font;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  word-break: keep-all;
  font-size: $default-font-size;
  // user-select: none;
  overflow-anchor: none; // prevent always scroll end
  @include bg;
  // background-attachment: fixed;
  // background-image: linear-gradient(#fff, $base-white-blue);
  // @include dark-mode {
  //   background-image: linear-gradient(#000, $base-black-soft);
  // }
  @include text-color;

  // &.is-app {
  //   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
  //     Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  // }

  transition: opacity 0.7s ease;

  // &.dimmed {
  //   opacity: 0;
  // }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3 {
  font-weight: 700;
}

h1 {
  font-size: h(5);
  font-weight: 700;
  line-height: 1.1;
}

h2 {
  font-size: h(3);
  font-weight: 600;
  line-height: 1.1;
}

h3 {
  font-size: h(1);
  font-weight: 600;
  line-height: 1.1;
}

p,
a,
textarea,
span,
div,
input {
  font-family: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
  border: none;
}

p,
a,
textarea,
input,
div {
  font-size: $default-font-size;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='search'],
textarea {
  @include input-style;

  &:focus {
    border: 1px solid #d8d8d8;
    @include dark-mode {
      border: 1px solid transparent;
    }
  }
}

[disabled] {
  opacity: 0.5;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-touch-callout: none !important;

  &.absolute-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
  }

  &.default {
    color: $eodiro-primary-color;
  }
}

span,
p,
h1,
h2,
h3 {
  a {
    font-size: 1em;
    font-weight: inherit;
    color: $eodiro-primary-color;
  }
}

span {
  white-space: nowrap;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font-family: inherit;
  font-size: 1rem;
  color: $base-gray;
  @include clickable;
}

img {
  user-select: none;
  pointer-events: none;
}

ul,
ol {
  list-style: none;
}

hr {
  appearance: none;
  border: none;
  background-color: rgba(#000, 0.15);
  @include dark-mode {
    background-color: rgba(#fff, 0.2);
  }
  height: 1px;
}
