@font-face {
  font-family: 'octicon';
  src: url('/fonts/octicon/octicon.eot?1evoy1');
  src: url('/fonts/octicon/octicon.eot?1evoy1#iefix')
      format('embedded-opentype'),
    url('/fonts/octicon/octicon.ttf?1evoy1') format('truetype'),
    url('/fonts/octicon/octicon.woff?1evoy1') format('woff'),
    url('/fonts/octicon/octicon.svg?1evoy1#octicon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.octicon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'octicon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.octicon-archive:before {
  content: '\e900';
}
.octicon-arrow-both:before {
  content: '\e901';
}
.octicon-alert:before {
  content: '\e902';
}
.octicon-arrow-small-left:before {
  content: '\e903';
}
.octicon-arrow-left:before {
  content: '\e904';
}
.octicon-arrow-small-right:before {
  content: '\e905';
}
.octicon-arrow-small-up:before {
  content: '\e906';
}
.octicon-arrow-up:before {
  content: '\e907';
}
.octicon-beaker:before {
  content: '\e908';
}
.octicon-arrow-down:before {
  content: '\e909';
}
.octicon-arrow-small-down:before {
  content: '\e90a';
}
.octicon-bell:before {
  content: '\e90b';
}
.octicon-arrow-right:before {
  content: '\e90c';
}
.octicon-bold:before {
  content: '\e90d';
}
.octicon-book:before {
  content: '\e90e';
}
.octicon-bookmark:before {
  content: '\e90f';
}
.octicon-briefcase:before {
  content: '\e910';
}
.octicon-broadcast:before {
  content: '\e911';
}
.octicon-browser:before {
  content: '\e912';
}
.octicon-bug:before {
  content: '\e913';
}
.octicon-calendar:before {
  content: '\e914';
}
.octicon-check:before {
  content: '\e915';
}
.octicon-checklist:before {
  content: '\e916';
}
.octicon-chevron-down:before {
  content: '\e917';
}
.octicon-chevron-left:before {
  content: '\e918';
}
.octicon-chevron-right:before {
  content: '\e919';
}
.octicon-chevron-up:before {
  content: '\e91a';
}
.octicon-circle-slash:before {
  content: '\e91b';
}
.octicon-circuit-board:before {
  content: '\e91c';
}
.octicon-clippy:before {
  content: '\e91d';
}
.octicon-clock:before {
  content: '\e91e';
}
.octicon-cloud-download:before {
  content: '\e91f';
}
.octicon-cloud-upload:before {
  content: '\e920';
}
.octicon-code:before {
  content: '\e921';
}
.octicon-comment:before {
  content: '\e922';
}
.octicon-comment-discussion:before {
  content: '\e923';
}
.octicon-dash:before {
  content: '\e924';
}
.octicon-credit-card:before {
  content: '\e925';
}
.octicon-dashboard:before {
  content: '\e926';
}
.octicon-database:before {
  content: '\e927';
}
.octicon-dependent:before {
  content: '\e928';
}
.octicon-desktop-download:before {
  content: '\e929';
}
.octicon-device-camera-video:before {
  content: '\e92a';
}
.octicon-device-camera:before {
  content: '\e92b';
}
.octicon-device-desktop:before {
  content: '\e92c';
}
.octicon-device-mobile:before {
  content: '\e92d';
}
.octicon-diff-added:before {
  content: '\e92e';
}
.octicon-diff-ignored:before {
  content: '\e92f';
}
.octicon-diff-modified:before {
  content: '\e930';
}
.octicon-diff-removed:before {
  content: '\e931';
}
.octicon-diff-renamed:before {
  content: '\e932';
}
.octicon-diff:before {
  content: '\e933';
}
.octicon-ellipsis:before {
  content: '\e934';
}
.octicon-eye-closed:before {
  content: '\e935';
}
.octicon-eye:before {
  content: '\e936';
}
.octicon-file-binary:before {
  content: '\e937';
}
.octicon-file-code:before {
  content: '\e938';
}
.octicon-file-media:before {
  content: '\e939';
}
.octicon-file-directory:before {
  content: '\e93a';
}
.octicon-file-pdf:before {
  content: '\e93b';
}
.octicon-file-submodule:before {
  content: '\e93c';
}
.octicon-file-symlink-directory:before {
  content: '\e93d';
}
.octicon-file-symlink-file:before {
  content: '\e93e';
}
.octicon-file-zip:before {
  content: '\e93f';
}
.octicon-file:before {
  content: '\e940';
}
.octicon-flame:before {
  content: '\e941';
}
.octicon-fold-down:before {
  content: '\e942';
}
.octicon-fold-up:before {
  content: '\e943';
}
.octicon-fold:before {
  content: '\e944';
}
.octicon-gear:before {
  content: '\e945';
}
.octicon-gift:before {
  content: '\e946';
}
.octicon-gist-secret:before {
  content: '\e947';
}
.octicon-gist:before {
  content: '\e948';
}
.octicon-git-branch:before {
  content: '\e949';
}
.octicon-git-commit:before {
  content: '\e94a';
}
.octicon-git-compare:before {
  content: '\e94b';
}
.octicon-git-merge:before {
  content: '\e94c';
}
.octicon-git-pull-request:before {
  content: '\e94d';
}
.octicon-github-action:before {
  content: '\e94e';
}
.octicon-globe:before {
  content: '\e94f';
}
.octicon-grabber:before {
  content: '\e950';
}
.octicon-graph:before {
  content: '\e951';
}
.octicon-heart-outline:before {
  content: '\e952';
}
.octicon-heart:before {
  content: '\e953';
}
.octicon-history:before {
  content: '\e954';
}
.octicon-home:before {
  content: '\e955';
}
.octicon-horizontal-rule:before {
  content: '\e956';
}
.octicon-hubot:before {
  content: '\e957';
}
.octicon-inbox:before {
  content: '\e958';
}
.octicon-infinity:before {
  content: '\e959';
}
.octicon-info:before {
  content: '\e95a';
}
.octicon-internal-repo:before {
  content: '\e95b';
}
.octicon-issue-closed:before {
  content: '\e95c';
}
.octicon-issue-opened:before {
  content: '\e95d';
}
.octicon-issue-reopened:before {
  content: '\e95e';
}
.octicon-italic:before {
  content: '\e95f';
}
.octicon-jersey:before {
  content: '\e960';
}
.octicon-kebab-horizontal:before {
  content: '\e961';
}
.octicon-kebab-vertical:before {
  content: '\e962';
}
.octicon-key:before {
  content: '\e963';
}
.octicon-keyboard:before {
  content: '\e964';
}
.octicon-law:before {
  content: '\e965';
}
.octicon-light-bulb:before {
  content: '\e966';
}
.octicon-line-arrow-down:before {
  content: '\e967';
}
.octicon-line-arrow-left:before {
  content: '\e968';
}
.octicon-line-arrow-right:before {
  content: '\e969';
}
.octicon-line-arrow-up:before {
  content: '\e96a';
}
.octicon-link-external:before {
  content: '\e96b';
}
.octicon-link:before {
  content: '\e96c';
}
.octicon-list-ordered:before {
  content: '\e96d';
}
.octicon-list-unordered:before {
  content: '\e96e';
}
.octicon-location:before {
  content: '\e96f';
}
.octicon-lock:before {
  content: '\e970';
}
.octicon-logo-gist:before {
  content: '\e971';
}
.octicon-logo-github:before {
  content: '\e972';
}
.octicon-mail-read:before {
  content: '\e973';
}
.octicon-mail:before {
  content: '\e974';
}
.octicon-mark-github:before {
  content: '\e975';
}
.octicon-markdown:before {
  content: '\e976';
}
.octicon-megaphone:before {
  content: '\e977';
}
.octicon-mention:before {
  content: '\e978';
}
.octicon-milestone:before {
  content: '\e979';
}
.octicon-mirror:before {
  content: '\e97a';
}
.octicon-mortar-board:before {
  content: '\e97b';
}
.octicon-mute:before {
  content: '\e97c';
}
.octicon-no-newline:before {
  content: '\e97d';
}
.octicon-north-star:before {
  content: '\e97e';
}
.octicon-note:before {
  content: '\e97f';
}
.octicon-octoface:before {
  content: '\e980';
}
.octicon-organization:before {
  content: '\e981';
}
.octicon-package:before {
  content: '\e982';
}
.octicon-paintcan:before {
  content: '\e983';
}
.octicon-pencil:before {
  content: '\e984';
}
.octicon-person:before {
  content: '\e985';
}
.octicon-pin:before {
  content: '\e986';
}
.octicon-play:before {
  content: '\e987';
}
.octicon-plug:before {
  content: '\e988';
}
.octicon-plus-small:before {
  content: '\e989';
}
.octicon-plus:before {
  content: '\e98a';
}
.octicon-primitive-dot-stroke:before {
  content: '\e98b';
}
.octicon-primitive-dot:before {
  content: '\e98c';
}
.octicon-primitive-square:before {
  content: '\e98d';
}
.octicon-project:before {
  content: '\e98e';
}
.octicon-pulse:before {
  content: '\e98f';
}
.octicon-question:before {
  content: '\e990';
}
.octicon-quote:before {
  content: '\e991';
}
.octicon-radio-tower:before {
  content: '\e992';
}
.octicon-reply:before {
  content: '\e993';
}
.octicon-repo-clone:before {
  content: '\e994';
}
.octicon-repo-force-push:before {
  content: '\e995';
}
.octicon-repo-forked:before {
  content: '\e996';
}
.octicon-repo-pull:before {
  content: '\e997';
}
.octicon-repo-push:before {
  content: '\e998';
}
.octicon-repo-template-private:before {
  content: '\e999';
}
.octicon-repo-template:before {
  content: '\e99a';
}
.octicon-repo:before {
  content: '\e99b';
}
.octicon-report:before {
  content: '\e99c';
}
.octicon-request-changes:before {
  content: '\e99d';
}
.octicon-rocket:before {
  content: '\e99e';
}
.octicon-rss:before {
  content: '\e99f';
}
.octicon-ruby:before {
  content: '\e9a0';
}
.octicon-saved:before {
  content: '\e9a1';
}
.octicon-screen-full:before {
  content: '\e9a2';
}
.octicon-screen-normal:before {
  content: '\e9a3';
}
.octicon-search:before {
  content: '\e9a4';
}
.octicon-server:before {
  content: '\e9a5';
}
.octicon-settings:before {
  content: '\e9a6';
}
.octicon-shield-check:before {
  content: '\e9a7';
}
.octicon-shield-lock:before {
  content: '\e9a8';
}
.octicon-shield-x:before {
  content: '\e9a9';
}
.octicon-shield:before {
  content: '\e9aa';
}
.octicon-sign-in:before {
  content: '\e9ab';
}
.octicon-sign-out:before {
  content: '\e9ac';
}
.octicon-skip:before {
  content: '\e9ad';
}
.octicon-smiley:before {
  content: '\e9ae';
}
.octicon-squirrel:before {
  content: '\e9af';
}
.octicon-star:before {
  content: '\e9b0';
}
.octicon-stop:before {
  content: '\e9b1';
}
.octicon-sync:before {
  content: '\e9b2';
}
.octicon-tag:before {
  content: '\e9b3';
}
.octicon-tasklist:before {
  content: '\e9b4';
}
.octicon-telescope:before {
  content: '\e9b5';
}
.octicon-terminal:before {
  content: '\e9b6';
}
.octicon-text-size:before {
  content: '\e9b7';
}
.octicon-three-bars:before {
  content: '\e9b8';
}
.octicon-thumbsdown:before {
  content: '\e9b9';
}
.octicon-thumbsup:before {
  content: '\e9ba';
}
.octicon-tools:before {
  content: '\e9bb';
}
.octicon-trashcan:before {
  content: '\e9bc';
}
.octicon-triangle-down:before {
  content: '\e9bd';
}
.octicon-triangle-left:before {
  content: '\e9be';
}
.octicon-triangle-right:before {
  content: '\e9bf';
}
.octicon-triangle-up:before {
  content: '\e9c0';
}
.octicon-unfold:before {
  content: '\e9c1';
}
.octicon-unmute:before {
  content: '\e9c2';
}
.octicon-unsaved:before {
  content: '\e9c3';
}
.octicon-unverified:before {
  content: '\e9c4';
}
.octicon-verified:before {
  content: '\e9c5';
}
.octicon-versions:before {
  content: '\e9c6';
}
.octicon-watch:before {
  content: '\e9c7';
}
.octicon-workflow-all:before {
  content: '\e9c8';
}
.octicon-workflow:before {
  content: '\e9c9';
}
.octicon-x:before {
  content: '\e9ca';
}
.octicon-zap:before {
  content: '\e9cb';
}
