@use '@/assets/styles/main' as *;

.select-wrapper {
  display: flex;
  position: relative;

  select {
    display: flex;
    width: 100%;
    appearance: none;
    background: none;
    border: none;
    @include block-style-raw;
    font-size: 1rem;
    margin: 0;
    padding: 0 s(3);
    height: 35px;
    padding-right: s(3) * 1.5 + 1rem;
    @include text-color;
    font-family: $ui-font;
    line-height: 1;
  }

  &::after {
    content: 'chevron_down';
    font-family: 'Framework7 Icons';
    font-size: 15px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: calc(50% + 1px);
    transform: translateY(-50%);
    right: 8px;
    pointer-events: none;
  }
}
