@use '@/assets/styles/main' as *;

.archive-page {
  max-width: 750px !important;
}

.description {
  text-align: center;
  font-size: 20px;
  color: $base-gray;
}

.archived {
  @include block-style-raw;
  padding: 20px;
  margin-top: 50px;

  & .icon,
  .label {
    font-size: 25px;
  }

  & .icon {
    color: $eodiro-primary-color;
  }

  & .label {
    font-weight: 600;
    margin-left: 10px;
  }

  .caption {
    font-size: 18px;
    font-weight: 500;
    margin-top: 9px;
    color: $base-gray;
  }
}

.tips-list-container {
  margin-top: 60px;
}

.scroll-wrapper {
  $topic-item-height: 37px;
  $topic-margin: 7px;

  overflow-y: hidden;
  height: $topic-item-height + 20px;
  margin-top: 15px;
  margin-left: -$topic-margin;
  margin-right: -$topic-margin;

  position: sticky;
  top: calc(#{$nav-height} - 1px);
  z-index: 10;

  @include bg;

  .topics {
    display: inline-block;
    white-space: nowrap;
    width: 100%;
    position: sticky;
    // top: $nav-height;
    padding-top: 9px;
    padding-bottom: 27px;
    overflow-x: auto;
    overflow-y: hidden;

    .topic-wrapper {
      display: inline-block;
      margin: 0 $topic-margin;
    }

    .topic {
      @include block-style-raw;
      @include border-radius-inner;
      @include clickable;
      height: $topic-item-height;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 12px;
      line-height: 0;

      &.chosen {
        background-color: $eodiro-primary-color;
        color: $base-white;
      }
    }

    .topic-end-margin {
      pointer-events: none;
      width: $topic-margin;
    }
  }

  .scroll-shadow {
    position: absolute;
    top: 0;
    height: 100%;
    width: $topic-margin;
    z-index: 90;

    --gradient-begin-color: #{$base-white-blue};
    --gradient-end-color: #{rgba($base-white-blue, 0)};

    @include dark-mode {
      --gradient-begin-color: #{#000};
      --gradient-end-color: #{rgba(#000, 0)};
    }

    &.left-shadow {
      left: 0;
      background-image: linear-gradient(
        to right,
        var(--gradient-begin-color),
        var(--gradient-end-color)
      );
    }

    &.right-shadow {
      right: 0;
      background-image: linear-gradient(
        to left,
        var(--gradient-begin-color),
        var(--gradient-end-color)
      );
    }
  }
}

.illustration-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;

  .illustration {
    width: calc(100% - 50px);
    max-width: 400px;
    margin: auto;
  }
}
