@use '@/assets/styles/main' as *;

#eodiro-vacant-classrooms {
  .classroom-info-container {
    .classroom-number {
      line-height: 1;
      font-size: h(7);

      .unit {
        font-size: 0.7em;
        font-weight: 600;
        margin-left: s(1);
      }
    }

    &.vacant {
      border: 1px solid $eodiro-primary-color;

      .classroom-number {
        color: $eodiro-primary-color;
      }
    }

    &.in-class {
      .classroom-number {
        color: $base-gray;
      }
    }

    .current-lecture-name {
      color: $base-gray;
      margin-top: s(3);
    }

    .gauge-shell {
      position: relative;
      width: 100%;
      height: 2px;
      margin-top: s(4);
      // border-radius: 50px;
      // overflow: hidden;
      background-image: linear-gradient(to right, #b3b3b3, #8d8d8d);
      @include dark-mode {
        background-image: linear-gradient(to right, #acacac, #dddddd);
      }

      .gauge-value {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        background-color: #e8e8e8;
        @include dark-mode {
          background-color: #555;
        }
      }
    }

    .remaining {
      line-height: 1;
      margin-top: s(3);
    }
  }
}
