@import '~/assets/styles/scss/global-variables.scss';
@import '~/assets/styles/scss/global-mixins.scss';

@mixin bordered {
  border-radius: $radius;
  border: 1px solid $t-black;

  @include dark-mode {
    border: 1px solid $t-white;
  }
}

@mixin background-colored {
  // background-color: rgba(0, 0, 0, 0.05);
  background-color: $base-white-blue;
  transition: background-color 500ms ease;

  &:active {
    background-color: darken($base-white-blue, 10%);
    transition: background-color 0ms ease;
  }

  @include dark-mode {
    background-color: #1d1d1d;

    &:active {
      background-color: lighten(#1d1d1d, 10%);
    }
  }
}
