@import '~/assets/styles/scss/global-variables.scss';
@import '~/assets/styles/scss/global-mixins.scss';

@mixin bordered {
  border-radius: $radius;
  border: 1px solid $t-black;

  @include dark-mode {
    border: 1px solid $t-white;
  }
}

@mixin background-colored {
  background-color: $base-white-blue;

  @include dark-mode {
    background-color: #1f1f1f;
  }
}

@mixin separator {
  border-color: rgba(#000, 0.1) !important;
  border-width: 1px !important;

  @include dark-mode {
    border-color: rgba(#fff, 0.2) !important;
  }
}
