@import '~/assets/styles/scss/global-variables.scss';
@import '~/assets/styles/scss/global-mixins.scss';

@mixin ui-transition {
  transition: border $color-scheme-transition-time ease,
    background-color $color-scheme-transition-time ease;
}

@mixin bordered {
  @include ui-transition;
  border-radius: $radius !important;
  border: 1px solid rgba(#000, 0.1) !important;

  @include dark-mode {
    border: 1px solid rgba(#fff, 0.15) !important;
  }
}

@mixin white-and-black {
  @include ui-transition;
  background-color: #fff;

  @include dark-mode {
    background-color: #000;
  }
}

@mixin black-and-white {
  @include ui-transition;
  background-color: #000;

  @include dark-mode {
    background-color: #fff;
  }
}

@mixin text-color {
  @include ui-transition;
  color: $base-black;

  @include dark-mode {
    color: $base-white;
  }
}

@mixin text-color-inverted {
  @include ui-transition;
  color: $base-white;

  @include dark-mode {
    color: $base-black;
  }
}

@mixin background-colored {
  @include ui-transition;
  background-color: $base-white-blue;

  @include dark-mode {
    background-color: #1f1f1f;
  }
}

@mixin separator {
  @include ui-transition;
  border-color: rgba(#000, 0.1) !important;
  border-width: 1px !important;

  @include dark-mode {
    border-color: rgba(#fff, 0.15) !important;
  }
}
