@import '~/assets/styles/scss/variables/all.scss';

@mixin smaller-than($width) {
  @media only screen and (max-width: $width) {
    @content;
  }
}

@mixin larger-than($width) {
  @media only screen and (min-width: $width) {
    @content;
  }
}

@mixin on-mobile {
  @include smaller-than($width-step--1) {
    @content;
  }
}

@mixin dark-mode {
  .dark-mode & {
    @content;
  }
  @media (prefers-color-scheme: dark) {
    .auto-color-scheme & {
      @content;
    }
  }
}

@mixin light-mode {
  .light-mode & {
    @content;
  }
  @media (prefers-color-scheme: light) {
    .auto-color-scheme & {
      @content;
    }
  }
}

@mixin bgImg($url, $position: center, $size: 'contain') {
  background-image: url($url);
  background-repeat: no-repeat;
  background-position: unquote($position);
  background-size: unquote($size);
}
