@import '~/assets/styles/scss/global-variables.scss';

@mixin smaller-than($width) {
  @media only screen and (max-width: $width) {
    @content;
  }
}

@mixin larger-than($width) {
  @media only screen and (min-width: $width) {
    @content;
  }
}

@mixin on-mobile {
  @include smaller-than($res-step--1) {
    @content;
  }
}

@mixin dark-mode {
  @at-root html.dark-mode & {
    @content;
  }
  @media (prefers-color-scheme: dark) {
    @at-root html.auto-color-scheme & {
      @content;
    }
  }
}

@mixin light-mode {
  .light-mode & {
    @content;
  }
  @media (prefers-color-scheme: light) {
    .auto-color-scheme & {
      @content;
    }
  }
}

@function dark-mode-border-shadow($bg-color) {
  @return 0 0 0 1px lighten($bg-color, 20%), 0 0 0 2px black;
}

@mixin bgImg($url, $position: center, $size: '100%') {
  background-image: url($url);
  background-repeat: no-repeat;
  background-position: unquote($position);
  background-size: unquote($size);
}

@mixin text-color {
  color: $base-black;

  @include dark-mode {
    color: $base-white;
  }
}
