@use '@/assets/styles/main' as *;

$random-nickname-gap: 2px;

.chat-bubble-box {
  display: flex;
  flex-direction: column;
  width: 100%;

  &.mine {
    align-items: flex-end;

    .random-nickname {
      display: none;
    }

    .chat-bubble {
      align-self: flex-end;
      background-color: darken(desaturate($eodiro-primary-color, 15), 5);
      color: $base-white;
    }
  }
}

.random-nickname {
  margin-left: $random-nickname-gap;
  margin-bottom: 3px;
  font-size: 14px;
  font-weight: 500;
  color: $base-gray;
}

.chat-bubble {
  @include block-style-raw;
  padding: 7px 12px;
  border-radius: 10px;
  display: inline-block;
  align-self: flex-start;
  max-width: 70%;
}
