@use '@/assets/styles/main' as *;

.eodiro-inquiry-request-body {
  max-width: 35rem !important;
}

#eodiro-inquiry-request {
  width: 100%;

  .title-field {
  }
  .email-field {
    margin-top: s(3);
  }
  .body-field {
    @include input-style;
    margin-top: s(3);
    height: 15rem;
  }
  .submit-button {
    margin-top: s(5);
  }
}
