@use '@/assets/styles/main' as *;

#eodiro-navigation {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: $nav-height;
  z-index: 9999;

  .en-bar {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid transparent;
    backdrop-filter: blur(30px) saturate(1.7);
    opacity: 0;
    // transition: opacity 150ms ease;
    @include separator('bottom');
    background-color: rgba(#fff, 0.8);
    @include dark-mode {
      background-color: rgba($base-black-soft, 0.7);
    }

    &.scrolled {
      opacity: 1;
    }
  }

  .en-wrapper {
    width: 100%;
    max-width: $app-content-max-width;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    .spacer,
    .go-back {
      width: 2.5rem;
      margin-left: 0.7rem;
      margin-right: 0.5rem;
    }

    .go-back {
      @include clickable;
      color: $eodiro-primary-color;
    }

    .home-link {
      display: flex;
      @include clickable;
      margin-right: 0.5rem;

      .eodiro-logo {
        width: 2.5rem;
        height: 100%;
        margin-left: 0.7rem;
      }
    }

    .page-app-title {
      display: inline-block;
      font-size: 1.1rem;
      font-weight: 500;
      line-height: initial;
      opacity: 0;
      transform: translate3d(0, 15%, 0);
      transition: opacity 250ms ease, transform 250ms ease;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      flex: 1;
      user-select: none;
      pointer-events: none;

      @include on-mobile {
        text-align: center;
      }

      &.show {
        opacity: 1;
        transform: translate3d(0, 0%, 0);
      }
    }

    .en-menus-container {
      display: flex;
      margin-right: 1.5rem;
      flex: none;

      .en-menu-link {
        &.signin,
        &.my {
          font-weight: 600;
          color: $eodiro-primary-color;
        }

        .en-menu-item {
          font-size: b(2);
          font-weight: fw(4);
          margin-left: s(4);
          @include clickable;
        }
      }
    }

    .more-tappable {
      display: none;
      height: 100%;
      width: 3rem;
      @include clickable;
      margin-right: 0.5rem;
      margin-left: 0.5rem;
      flex: none;
    }

    // App
    .app-nav-right-button {
      width: 3rem;
      margin: 0 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
    }
  }

  @include smaller-than(700px) {
    .en-wrapper {
      .en-menus-container {
        display: none;
        flex-direction: column;
        position: absolute;
        top: $nav-height;
        margin: 0;
        width: 100%;
        padding: 1.5rem;
        @include separator('bottom');
        @include elm-fill;
        background-color: rgba(#fff, 0.8);
        backdrop-filter: blur(30px) saturate(1.7);
        @include dark-mode {
          background-color: rgba($base-black-soft, 0.7);
        }

        &.opened {
          display: flex;
        }

        .en-menu-link {
          margin-bottom: 1.5rem;

          &:last-child {
            margin-bottom: 0;
          }

          .en-menu-item {
            font-size: b(6);
            width: 100%;
            margin: 0;
            text-align: right;
          }
        }
      }

      .more-tappable {
        display: flex;
        align-items: center;
        justify-content: center;

        .more-icon {
          height: 40%;
        }
      }
    }
  }
}
